@charset "utf-8";
/* CSS Document */


.bg-image {
	background-image: url("images/hero.png");
}
.bg-image-2 {
	background-image: url("images/hero investors.png");
}
.bg-image-3 {
	background-image: url("images/hero (1).png");
}
.bg-image-4 {
	background-image: url("images/Aboutus.png");
}
